<div class="grid-container top_10 width_index" >
  <% @articlesJS.each do |article| %>
    <div class="callout">
      <div class="grid-x grid-margin-x">
        <div class="cell offset-4 centered">
          <h4><strong><%= link_to article['attributes']['title'], article_path(article['id']) %></strong></h4>
        </div>
        <div class="cell">
          <br>
          <p>
            <%= article['attributes']['content'][0...100] %>
          <span class="read-more-content" id="art-id-<%= article['id'] %>" data-toggler data-animate="fade-in fade-out">
            <%= article['attributes']['content'][100..-1] %>
          </span>
          </p>
          <button data-toggle="art-id-<%= article['id'] %>" href="#">SHOW MORE <i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
  <% end %>
</div>