<%= session[:api_token] %>
<%= session[:user_id] %>
<%= @articleJS['relationships']['user']['data']['id'] %>
<div class="grid-container top_10 width_index">
  <div class="callout">
    <div class="grid-x grid-margin-x">
      <div class="cell offset-4 centered">
        <h4><strong><%= @articleJS['attributes']['title'] %></strong></h4>
      </div>
      <div class="cell">
        <br>
        <p><%= @articleJS['attributes']['content'] %></p>
      </div>
      <% if session[:api_token] && session[:user_id] == @articleJS['relationships']['user']['data']['id'] %>
        <div class="cell">
          <div class="small button-group">
            <%= link_to 'Edit this article', edit_article_path(@articleJS['id']), class: 'button' %>
            <%= link_to 'Remove this article', article_path(@articleJS['id']), method: :delete, class: ' alert button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="callout">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <strong>Comment section</strong>
      </div>
      <% @commentsJS.each do |comment| %>
        <div class="cell">
          <hr/>
          Author: <span class="underline"><%= comment['attributes']['user-name'] %></span>
        </div>
        <div class="cell">
          <br>
          <%= comment['attributes']['content'] %>
        </div>
      <% end %>
      <div class="cell">
        <hr/>
        <% if session[:api_token] %>
          <hr/>
          <%= simple_form_for :comment, url: add_comment_path(@articleJS['id']) do |f| %>
            <%= f.text_area :content, rows: 5 %>
            <%= f.submit 'Add comment', class: 'button' %>
          <% end %>
        <% else %>
          Login to add comments
        <% end %>
      </div>
    </div>
  </div>
</div>